<div class="container">
  <img src="{{response}}" alt="">
  <h2>Enter code</h2>
  <form class="" action="/code" method="post">
    <input class="form-control form-control-lg" type="number" name="code" placeholder="Code">
    <br/>
    <a href="/" class="btn btn-secondary">Try A New Code</a>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button class="btn btn-info" onClick="refreshPage()">Refresh Button</button>
  </form>
</div>
