/* Background */
header.masthead {
  position: relative;
  height: 100vh;
  color: white;
  background: url("../img/bg-pattern.png"), #7b4397;
  background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: url("../img/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);
}

/* Content */
.container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top:2rem;
  text-align:center;
}

body{
	background-color: #ffffff;
	color: #686868;
	font-family:'Montserrat',sans-serif;
	font-size:13px;
}

h1 {font-size:3em;line-height:2em;}

h2 {font-size:1.8em;line-height:2em;}

h3 {font-size:1.5em;line-height:2em;}

p {font-size:14px;line-height:22px; color: #686868;}
